
@{
    ViewBag.Title = "AdminPage";
}
<style>
    h3 {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    form-group.div {
        text-align: center;
    }
</style>
<h1>Zero Hunger Bangladesh</h1>
<h3>Admin Panel</h3>

<div class="jumbotron">


    <h2>Assign Employee to Collect Food and Complete Food Collection Request.</h2>
    
    <p><a href="/ngo/Index" class="btn btn-primary btn-lg">Collect Request &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin Restaurent</h2>
        <p><a href="/Frestaurents/Index" class="btn btn-primary btn-lg">Admin Restaurent &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Admin Employee</h2>
        <p><a href="/employees/Index" class="btn btn-primary btn-lg">Admin Employee &raquo;</a></p>

    </div>
    <div class="col-md-4">
        <h2>Admin Food-Destribution</h2>
        <p><a href="/Fdistribution/Index" class="btn btn-primary btn-lg">Admin Employee &raquo;</a></p>

    </div>
</div>