@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    
    <h1>Zero Hunger Community Bangladesh</h1>
    <p class="lead">Sustainable Development Goal 2 aims to achieve "zero hunger".</p>
    <p><a href="https://www.globalgoals.org/news/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>WHy it is to concern</h2>
        <p>
            Hunger is the leading cause of death in the world. Our planet has provided us with tremendous resources, but unequal access and inefficient handling leaves millions of people malnourished. If we promote sustainable agriculture with modern technologies and fair distribution systems, we can sustain the whole world’s population and make sure that nobody will ever suffer from hunger again.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>UNIVERSAL ACCESS TO SAFE AND NUTRITIOUS FOOD</h2>
        <p>By 2030, end hunger and ensure access by all people, in particular the poor and people in vulnerable situations, including infants, to safe, nutritious and sufficient food all year round.</p>
        
    </div>
    <div class="col-md-4">
        <h2>END ALL FORMS OF MALNUTRITION</h2>
        <p>By 2030, end all forms of malnutrition, including achieving, by 2025, the internationally agreed targets on stunting and wasting in children under 5 years of age, and address the nutritional needs of adolescent girls, pregnant and lactating women and older persons.</p>
       
    </div>
</div>